@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    background-color: #003366;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  nav ul.open,
  nav ul.show {
    display: flex !important;
  }

  nav ul li {
    margin: 0;
    border-bottom: 1px solid #333;
    width: 100%;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    bottom: 10%;
  }
}