@media screen and (min-width: 600px) {
    nav ul {
      display: flex !important;
      justify-content: center;
    }
  
    nav ul li {
      margin: 0 1rem;
    }
  
    nav a {
      border: none;
      padding: 1rem;
    }
  
    main {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    #courseList {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .course-card {
      width: 200px;
    }
  }
  